# Temporary files
*~

# Scripts
/*.sh
/*.tar.gz

# Compiled files
__pycache__/
*.py[cod]
*.egg-info
dist/

# Eclipse-related files
.classpath
.project
.settings
.pydevproject

# Sphinx
.buildinfo
/doc/_build/
/doc/generated/
/doc/api/generated/
/doc/savefig/

# Coverage
*.coverage*
htmlcov/

# Jupyter
*.ipynb_checkpoints/